
<div class="container">

  <div class="jumbotron text-center">

    <ul>
    
    	<li><a href="/login" class="btn btn-default">Login</a></li>
    	<li><a href="/signup"><img src="/images/mail_login.png"/></a></li>
    	<li><a href="/auth/facebook"><img src="/images/fb_login.png"/></a></li>
    	<li><a href="/auth/twitter"><img src="/images/tw_login.png"/></a></li>
    	<li><a href="/auth/google"><img src="/images/g_login.png"/></a></li>
    	<li><a href="/auth/tumblr"><img src="/images/tmblr_login.png"/></a></li>

    </ul>

  </div>

</div>
